#savedDiv{
    max-height: 100px;
    overflow: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: solid 2px rgb(199, 198, 198);
    border-bottom: solid 2px #151515;
    border-top: none;
}

#savedDiv header{
    font-size: 20px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    
}

#savedDiv button{
    width: 150px;
}

.comments{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 3px;
    background-color: #bbd7ff;
    
}

.commentsHeader{
    width: 100%;
    font-size: 22px;
   margin: auto;
    font-weight: bold;
    background-color: #e9e7e7;
}

.comment{
    display: flex;
    flex-direction: column;
    margin: 20px 20px 20px 20px;
  text-align: left;
  
  border-bottom: solid 1px #003be0;
}

.commentHeader{
    display: flex;
    flex: 1;
}

#savedDiv input{
    color: black;
    
}

#savedDiv input:first-child{
   
    margin-right: 30px;
    
}

#commentInput {
    width: 60% !important; 
}

#usernameInput{
    width: 26% !important;
}




.trash-btn img{
    height: 23px;
    margin: auto;
}

.trash-btn{
    max-width: 51px;
    /* float: right; */
    /* top: 0; */
    flex: 1;
    align-self: flex-end;
  
}

.contentRow{
    display: flex;
    justify-content: space-between;
    
}

.name {
    background-color: rgb(243, 237, 237);
    border-radius: 6px;
    
    font-size: 13px;
    margin-left: 10px;
    text-transform: uppercase;
}

.name span{
    padding: 0 6px 0 6px;
}

#savedDiv a {
    margin: left;
}

.addCommentDiv{
    display: flex;
    margin: 20px 0px 0px 0px;
    
}

